@model DBClinica_EL01.Models.Citas

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Cita</h1>

<h4>Cita Nro. @Html.DisplayFor(model => model.Nrocita)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Nrocita" />*@
            <div class="form-group">
                <label asp-for="Codmed" class="control-label"></label>
                <select asp-for="Codmed" class="form-control" asp-items="ViewBag.Codmed"></select>
                <span asp-validation-for="Codmed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codpac" class="control-label"></label>
                <select asp-for="Codpac" class="form-control" asp-items="ViewBag.Codpac"></select>
                <span asp-validation-for="Codpac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrip" class="control-label"></label>
                <input asp-for="Descrip" class="form-control" />
                <span asp-validation-for="Descrip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />

                <a class="btn btn-light" asp-action="Index">Regresar a Lista</a>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
